<div class="contact-computer contact-button hidden-sm-down">
    <a href="{{ path("contact") }}" class="btn btn-phone hidden-sm-down">+33 1 47 20 00 01<i class="fa fa-phone"></i></a><br>
    <a href="{{ path("contact") }}" class="btn btn-envelope hidden-sm-down">garage.heritier@gmail.com<i class="fa fa-envelope" aria-hidden="true"></i></a><br>
    <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2812.394086065409!2d5.7330649159271845!3d45.179118279098724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af4ec08049f83%3A0xb04eacf51ecca2a3!2s28+Avenue+Jean+Perrot%2C+38100+Grenoble!5e0!3m2!1sfr!2sfr!4v1484818302816"
       class="btn btn-map" target="_blank">Google Maps<i class="fa fa-map-marker"></i></a><br>
</div>
<div class="contact-phone contact-button hidden-md-up">
    <a href="tel:+33648362341" class="btn btn-phone"><i class="fa fa-phone"></i></a><br>
    <a href="mailto:garage.heritier@gmail.com" class="btn btn-envelope"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>
    <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2812.394086065409!2d5.7330649159271845!3d45.179118279098724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af4ec08049f83%3A0xb04eacf51ecca2a3!2s28+Avenue+Jean+Perrot%2C+38100+Grenoble!5e0!3m2!1sfr!2sfr!4v1484818302816"
       class="btn btn-map" target="_blank"><i class="fa fa-map-marker"></i></a>
</div>
