<div class="contact-button">
    <a href="tel:+33648362341" class="btn btn-phone hidden-md-up"><i class="fa fa-phone"></i></a>
    <a href="{{ path("contact") }}" class="btn btn-phone hidden-sm-down"><i class="fa fa-phone"></i></a><br>
    <a href="mailto:julien.heritier.grenoble12@reseau.renault.fr" class="btn btn-envelope"><i class="fa fa-envelope" aria-hidden="true"></i></a><br>
    <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2812.394086065409!2d5.7330649159271845!3d45.179118279098724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af4ec08049f83%3A0xb04eacf51ecca2a3!2s28+Avenue+Jean+Perrot%2C+38100+Grenoble!5e0!3m2!1sfr!2sfr!4v1484818302816"
       class="btn btn-map" target="_blank"><i class="fa fa-map-marker"></i></a><br>
</div>