<footer class="page-footer cyan darken-4 center-on-small-only">
    <div class="col-md-12 header-footer">
        <div class="trait-footer"></div>
        <div class="logo">
            <img src="" alt="">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-xs-down">
                <h5></h5>
                <ul>
                    <li><a href=""><i class="fa fa-users"></i></a></li>
                    <li><a href=""><i class="fa fa-graduation-cap"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 hidden-xs-down">
                <h5></h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href="#section3"></a></li>
                </ul>
            </div>
            <div class="col-md-4 hidden-xs-down">
                <h5></h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.Footer Links-->
    <div class="social-section">
        <ul>
            <a class="btn btn-floating btn-small btn-fb" href=""><i class="fa fa-facebook"> </i></a>
            <a class="btn btn-floating btn-small btn-gplus" href="" rel="publisher"><i class="fa fa-google-plus"> </i></a>
            <a class="btn-floating btn-small btn-li" href=""><i class="fa fa-linkedin"> </i></a>
        </ul>
    </div>

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © {{ "now"|date("Y") }} Garage Gabay - <a href="">Conditions générales</a>
        </div>
    </div>
    <!--/.Copyright-->

</footer>