<a class="col-6 col-md-2 renault-link flex-column flex-center" href="{{ path("newcar_details", {'id': car.id}) }}">
    <img src="{{ asset(car.icone.webPath) }}" class="img-fluid" alt="">
    <span class="text-center">{{ car.model }}</span>
</a>
