{% extends "::layout.html.twig" %}

{% block central_layout %}
    <main class="container-fluid no-padding-left no-padding-right">
        {% block header %}
        {% endblock %}
        <div class="body-content container">
            {% block body %}

            {% endblock %}
        </div>
    </main>
{% endblock %}