{% extends 'base.html.twig' %}

{% block body %}
    <h1>A propos</h1>
    <div class="col-md-12">
        <div class="col-md-4 ">
            <div class="card card-cascade wider third-color">
                <div class="view overlay hm-white-slight">
                    <img src="{{ asset("media/design/collaborator-1.jpg") }}" class="img-fluid">
                </div>

                <div class="card-block text-xs-center fifth-color">
                    <h4 class="card-title"><strong>Alice Mayer</strong></h4>
                    <h5>Gérante</h5>
                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>
                    <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                    <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                    <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card card-cascade wider third-color">
                <div class="view overlay hm-white-slight">
                    <img src="{{ asset("media/design/collaborator-2.jpeg") }}" class="img-fluid">
                </div>

                <div class="card-block text-xs-center fifth-color">
                    <h4 class="card-title"><strong>Thierry Jomin</strong></h4>
                    <h5>Textile Master</h5>
                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>
                    <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                    <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                    <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card card-cascade wider third-color">
                <div class="view overlay hm-white-slight">
                    <img src="{{ asset("media/design/collaborator-3.jpeg") }}" class="img-fluid">
                </div>

                <div class="card-block text-xs-center fifth-color">
                    <h4 class="card-title"><strong>Abdel Aoudia</strong></h4>
                    <h5>Mécanicien</h5>
                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>
                    <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                    <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                    <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                </div>
            </div>
        </div>
        <ul class="generic-list">
            <li class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, molestiae!</li>
            <li class="item">At dolorum eaque, hic ipsa laudantium quam recusandae. Et, modi!</li>
            <li class="item">Dolor enim in maiores pariatur ratione sequi suscipit tempore, totam.</li>
            <li class="item">Deleniti dolorem esse nobis possimus. Alias facere odio sequi unde!</li>
            <li class="item">Delectus deserunt dolorum eum excepturi facere numquam porro quisquam reiciendis.</li>
            <li class="item">Ad dolore facere in labore? Et eum exercitationem nulla vero!</li>
            <li class="item">Ab maxime, non qui quidem tenetur veritatis? Facilis laborum, libero.</li>
            <li class="item">Cupiditate explicabo impedit non praesentium provident quasi quos repellat ullam!</li>
            <li class="item">Aperiam eveniet laudantium officiis optio quos sapiente sed sint, voluptas!</li>
            <li class="item">Aliquid dicta dolorum enim iure libero maiores maxime quia reprehenderit.</li>
            <li class="item">Architecto dolor est impedit ipsum maiores numquam quis quisquam vel.</li>
            <li class="item">Ab in inventore labore laboriosam laudantium minus nobis nostrum officiis!</li>
            <li class="item">Commodi cupiditate deleniti libero obcaecati odio odit, placeat porro rerum?</li>
            <li class="item">Ab atque commodi cum reprehenderit sed ullam! Quis, sunt veniam.</li>
            <li class="item">Consectetur corporis dolore enim eveniet numquam quam velit? Aliquid, dignissimos.</li>
            <li class="item">Alias corporis distinctio doloremque eaque exercitationem in optio porro tempora?</li>
            <li class="item">Consectetur ea earum eius facere omnis quasi quisquam totam ut.</li>
            <li class="item">Corporis distinctio dolore harum nostrum quam quidem quod repellendus tempora.</li>
            <li class="item">Accusamus, dolores voluptatem? Dolores ex excepturi quae quidem, rerum veritatis.</li>
            <li class="item">Consectetur deleniti dolore doloremque ea, facere illo modi sequi sit.</li>
        </ul>
    </div>
{% endblock %}