{% extends 'base.html.twig' %}

{% block body %}
        <section class="section team-section">
            <h1 class="section-heading">L'équipe</h1>
            <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>
            <div class="row text-xs-center">
                <div class="col-md-4 mb-r">
                    <div class="testimonial">
                        <div class="avatar">
                            <img src="{{ asset("media/design/collaborator-1.jpg") }}" class="rounded-circle img-fluid">
                        </div>
                        <h4>Anna Deynah</h4>
                        <h5>Gérant</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.</p>
                        <div>
                            <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-r">
                    <div class="testimonial">
                        <div class="avatar">
                            <img src="{{ asset("media/design/collaborator-2.jpeg") }}" class="rounded-circle img-fluid">
                        </div>
                        <h4>John Doe</h4>
                        <h5>Textile</h5>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                        <div class="orange-text">
                            <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-r">
                    <div class="testimonial">
                        <div class="avatar">
                            <img src="{{ asset("media/design/collaborator-3.jpeg") }}" class="rounded-circle img-fluid">
                        </div>
                        <h4>Maria Kate</h4>
                        <h5>Mecanicien</h5>
                        <p><i class="fa fa-quote-left"></i> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
                        <div class="orange-text">
                            <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}