
<div class="card">
    <div class="view overlay hm-white-slight z-depth-1">
        <img src="{{ asset("media/voitures/voiture-1.jpg") }}" class="img-fluid" alt="">
        <a>
            <div class="mask"></div>
        </a>
    </div>

    <div class="card-block text-xs-center">
        <h4 class="card-title"><strong><a href="{{ path("voiture", {'id': 2}) }}" class="fourth-color-text">Renault captur intens 1.5l dci energy 90ch eco2</a></strong></h4>
        <p class="card-text">
            <i class="material-icons">timeline</i> 32 152 Km
            <br>
            <i class="material-icons">local_gas_station</i> Diesel
            <br>
            <a href="{{ path("voiture", {'id': 2}) }}" class="btn first-color second-color-text">Détails</a>
        </p>
        <div class="card-footer">
            <span class="left">15 000€</span>
            <span class="right">Occasion</span>
        </div>
    </div>
</div>