<div class="col-md-4 mb-r">
    <div class="testimonial">
        <div class="avatar">
            <img src="{{ asset("media/design/collaborator-2.jpeg") }}" class="rounded-circle img-fluid">
        </div>
        <h4>John Doe</h4>
        <h5>Textile</h5>
        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
            aliquid ex ea commodi.</p>
        <div class="orange-text">
            <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
        </div>
    </div>
</div>