{% extends ':site-structure:base.html.twig' %}

{% block body %}
    <h2>Vehicules neuves</h2>
    {% include ":elements:new_cars_displayer.html.twig" with {'particuliers': particuliers, 'utilitaires': utilitaires, 'electriques': electriques} %}
    <hr class="renault-primary">
    <h2>Vehicules d'occasions</h2>
    <div class="row">
    {% for secondhandcar in secondhandcars %}
            {% include ':elements:secondhand_car_card.html.twig' with {'car': secondhandcar}%}
    {% else %}
        <div class="col-md-12 text-center">
            <p>Aucunes voitures d'occasions</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}