{% extends 'base_index.html.twig' %}

{% block body %}
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
            <div class="container">
                <div class="row" id="home">
                    <div class="col-md-6">
                        <div class="description">
                            <h2 class="h2-responsive wow fadeInLeft">Garage GABAY</h2>
                            <hr class="first-color">
                            <p class="wow fadeInLeft" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</p>
                        </div>
                    </div>
                    <div class="col-md-6 flex-center">
                        <img src="{{  asset("media/design/garage.jpg") }}" alt="" class="img-fluid wow fadeInRight" id="garage">
                    </div>
                    <div class="col-md-12 text-xs-center button-bottom-row smooth-scroll">
                        <a id="btn-enter-index" href="#section_1" class="btn btn-large first-color"><i class="fa fa-chevron-down"></i> Entrer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="section_1">
            <h1>Premier titre</h1>
        </div>

    </div>
{% endblock %}

{% block javascripts %} {{ parent() }}
    <script>new WOW().init();</script>
{% endblock %}

