{% extends ':site-structure:base.html.twig' %}

{% block title %}
    Promotions
{% endblock %}

{% block description %}
    Les promotions du moment sur l'atelier, les pièces, les voitures d'occasions et/ou les services
{% endblock %}

{% block body %}
    <div class="text-center">
    <h1>Promotions du moment</h1>
        <div class="row d-flex flex-row justify-content-center">
        {% if promotions or secondhandcars or services %}
            {% if promotions %}
                <div class="col-md-4">
                    {% for promotion in promotions %}
                            {% include ':elements:promotion_card.html.twig' with {'promotion': promotion}%}
                        <br>
                    {% endfor %}
                </div>
            {% endif %}
            {% if secondhandcars %}
                <div class="col-md-4">
                    {%  for secondhandcar in secondhandcars %}
                        {% include ':elements:secondhand_car_card.html.twig' with {"car": secondhandcar} %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if services %}
                <div class="col-md-4">
                    {%  for service in services %}
                        {% include ':elements:service_card.html.twig' with {"service":service} %}
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <div class="col-md-12 text-center">
                <p>Aucunes promotions</p>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
