{% extends 'base.html.twig' %}

{% block body %}
    <h2>Vehicules neuves</h2>
    {% include ":default:tabsnewcars.html.twig" with {'particuliers': particuliers, 'utilitaires': utilitaires, 'electriques': electriques} %}
    <hr class="renault-primary">
    <h2>Vehicules d'occasions</h2>
    {% for i in 0..6 %}
        <div class="col-md-6 col-lg-4">
            {% include 'default/cardvoiture.html.twig' %}
        </div>
    {% endfor %}
{% endblock %}