# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     	db608660227.db.1and1.com
    database_port:     ~
    database_name:     db608660227
    database_user:     dbo608660227
    database_password: Gabay-garage
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: smtp
    mailer_host: auth.smtp.1and1.fr
    mailer_user: no-reply@garage-heritier-grenoble.fr
    mailer_password: Azerty-0503(
    mailer_garage: garage.heritier@gmail.com
    # A secret key that's used to generate certain security-related tokens
    secret:            bd2e6b01a7fcfe23ac0299ade4d5a329dc63cb9e
