{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}
    <div>
        {% if object != null %}
            <img src="{{ vich_uploader_asset(object.imageCover, 'imageFile') }}" />
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}