/*VARIABLES, TOOLS & ADD-ON*/
/*FONTS*/
/*@font-face {
  font-family: "Monthoers";
  src: url("../fonts/Monthoers.ttf");
}

$first-font: "Monthoers";
$second-font: none;*/
/*COLORS*/
/* line 17, ../sass/_var.scss */
.first-color {
  background-color: #FFCC33 !important;
}

/* line 21, ../sass/_var.scss */
.first-color-text {
  color: #FFCC33 !important;
}

/* line 25, ../sass/_var.scss */
.second-color {
  background-color: #333333 !important;
}

/* line 29, ../sass/_var.scss */
.second-color-text {
  color: #333333 !important;
}

/* line 33, ../sass/_var.scss */
.third-color {
  background-color: #E9E9E9 !important;
}

/* line 37, ../sass/_var.scss */
.third-color-text {
  color: #E9E9E9 !important;
}

/* line 41, ../sass/_var.scss */
.fourth-color {
  background-color: black !important;
}

/* line 45, ../sass/_var.scss */
.fourth-color-text {
  color: black !important;
}

/* line 49, ../sass/_var.scss */
.fifth-color {
  background-color: white !important;
}

/* line 53, ../sass/_var.scss */
.fifth-color-text {
  color: white !important;
}

/* line 1, ../sass/_tools.scss */
.no-shadow {
  box-shadow: none !important;
}

/* line 5, ../sass/_tools.scss */
.no-padding-left {
  padding-left: 0;
}

/* line 9, ../sass/_tools.scss */
.no-padding-right {
  padding-right: 0;
}

/* line 13, ../sass/_tools.scss */
.no-padding-top {
  padding-top: 0;
}

/* line 17, ../sass/_tools.scss */
.no-padding-bottom {
  padding-bottom: 0;
}

/* line 21, ../sass/_tools.scss */
.bold {
  font-weight: bold;
}

/* line 25, ../sass/_tools.scss */
.half-with {
  width: 50%;
}

/* YOUR CUSTOM STYLES */
/* line 1, ../sass/_custom.scss */
html,
body,
header,
.view {
  height: 100%;
}

/* line 8, ../sass/_custom.scss */
body {
  padding-top: 70px;
}

@media only screen and (max-width: 992px) {
  /* line 13, ../sass/_custom.scss */
  body {
    padding-top: 60px;
  }
}
/* line 18, ../sass/_custom.scss */
.img-fluid {
  height: auto;
}

/* line 22, ../sass/_custom.scss */
.view {
  background: url("../media/design/index-full-screen.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 31, ../sass/_custom.scss */
.fullscreen-index::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: -1;
  transform: skewY(10deg);
}

@media (max-width: 768px) {
  /* line 43, ../sass/_custom.scss */
  .full-bg-img,
  .view {
    height: auto;
    position: relative;
  }
}
@media (max-width: 992px) {
  /* line 50, ../sass/_custom.scss */
  .description {
    padding-top: 7rem;
    text-align: center;
  }

  /* line 54, ../sass/_custom.scss */
  #garage {
    max-height: 400px;
  }
}
/* line 59, ../sass/_custom.scss */
#home {
  padding-top: 37px;
}
/* line 61, ../sass/_custom.scss */
#home .description {
  color: white;
  padding-top: 25%;
  padding-bottom: 3rem;
}
/* line 66, ../sass/_custom.scss */
#home .button-bottom-row {
  margin-top: 15%;
}
/* line 68, ../sass/_custom.scss */
#home .button-bottom-row a {
  color: black !important;
}

/* line 74, ../sass/_custom.scss */
footer {
  background-color: #333333 !important;
}
/* line 76, ../sass/_custom.scss */
footer div {
  background-color: transparent;
}
/* line 79, ../sass/_custom.scss */
footer .footer-copyright {
  background-color: black !important;
}

/*PARALLAX*/
/* line 85, ../sass/_custom.scss */
.parallax-n {
  height: 280px;
  transform: skewY(4deg);
  margin-bottom: 4%;
  margin-top: 4%;
  background-color: black;
}
/* line 91, ../sass/_custom.scss */
.parallax-n .background {
  width: 100%;
  height: 100%;
  background-size: cover;
}
/* line 95, ../sass/_custom.scss */
.parallax-n .background::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: -1;
}

/* line 108, ../sass/_custom.scss */
#section-1 .background {
  background-image: url("../media/design/parallax-picture-1.jpg");
}
/* line 110, ../sass/_custom.scss */
#section-1 .background::before {
  transform: skewY(-8deg);
}

/* line 116, ../sass/_custom.scss */
#section-2 {
  transform: skewY(-4deg);
}
/* line 118, ../sass/_custom.scss */
#section-2 .background {
  background-image: url("../media/design/parallax-picture-2.jpg");
}
/* line 120, ../sass/_custom.scss */
#section-2 .background::before {
  transform: skewY(6deg);
}

/* line 127, ../sass/_custom.scss */
#section-3 .background {
  background-image: url("../media/design/parallax-picture-3.jpg");
}
/* line 129, ../sass/_custom.scss */
#section-3 .background::before {
  transform: skewY(-8deg);
}

/* line 135, ../sass/_custom.scss */
.card-footer {
  border-top: 1px solid #FFCC33;
}

/* line 143, ../sass/_custom.scss */
.card-prestations {
  /*border: 1px solid $first-color;*/
}
/* line 146, ../sass/_custom.scss */
.card-prestations .card-background img {
  padding: 10px;
  width: 70%;
  margin: auto;
}

/*Button Left*/
/* line 157, ../sass/_custom.scss */
.contact-button {
  position: fixed;
  left: -25px;
  top: 100px;
  z-index: 900;
}
/* line 162, ../sass/_custom.scss */
.contact-button a {
  left: 0px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  transition-timing-function: ease-in;
  width: 40px;
  background-color: white;
  color: black !important;
}
/* line 170, ../sass/_custom.scss */
.contact-button a:hover {
  left: 10px;
}

/* line 1, ../sass/_navigation.scss */
.navbar {
  background-color: white;
}
/* line 4, ../sass/_navigation.scss */
.navbar .navbar-desktop .navbar-brand {
  color: black !important;
  font-weight: bold;
}
/* line 10, ../sass/_navigation.scss */
.navbar .navbar-desktop .navbar-nav .nav-item a {
  color: black;
  font-weight: bold;
}
/* line 14, ../sass/_navigation.scss */
.navbar .navbar-desktop .navbar-nav .nav-item .dropdown-menu {
  background-color: white;
}
/* line 17, ../sass/_navigation.scss */
.navbar .navbar-desktop .navbar-nav .nav-item .dropdown-menu a:hover {
  background-color: white;
}
/* line 26, ../sass/_navigation.scss */
.navbar .navbar-mobile .side-nav {
  background: white !important;
}
/* line 27, ../sass/_navigation.scss */
.navbar .navbar-mobile .side-nav ul.social {
  border: none !important;
}
/* line 33, ../sass/_navigation.scss */
.navbar .navbar-mobile .side-nav ul li a {
  color: black;
  font-weight: bold;
}
/* line 36, ../sass/_navigation.scss */
.navbar .navbar-mobile .side-nav ul li a:visited {
  color: black;
}
/* line 45, ../sass/_navigation.scss */
.navbar .button-collapse a {
  color: black !important;
}

/* line 51, ../sass/_navigation.scss */
.scrolling-navbar {
  z-index: 998 !important;
}

/* line 55, ../sass/_navigation.scss */
.top-nav-collapse {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
/* line 59, ../sass/_navigation.scss */
.top-nav-collapse .navbar-brand {
  color: black !important;
}
/* line 61, ../sass/_navigation.scss */
.top-nav-collapse .navbar-brand:visited {
  color: black;
}
