/*VARIABLES, TOOLS & ADD-ON*/
/*FONTS*/
@font-face {
  font-family: "RenaultLife-Regular";
  src: url("../font/Renault/RenaultLife-Regular.ttf");
}
@font-face {
  font-family: "RenaultLife-Bold";
  src: url("../font/Renault/RenaultLife-Bold.ttf");
}
@font-face {
  font-family: "RenaultLife-BoldItalic";
  src: url("../font/Renault/RenaultLife-BoldItalic.ttf");
}
@font-face {
  font-family: "RenaultLife-Italic";
  src: url("../font/Renault/RenaultLife-Italic.ttf");
}
@font-face {
  font-family: "RenaultLife-Light";
  src: url("../font/Renault/RenaultLife-Light.ttf");
}
@font-face {
  font-family: "RenaultLife-LightItalic";
  src: url("../font/Renault/RenaultLife-LightItalic.ttf");
}
/*COLORS*/
/* line 56, ../sass/_var.scss */
.first-color {
  background-color: #FFCC33 !important;
}

/* line 60, ../sass/_var.scss */
.first-color-text {
  color: #FFCC33 !important;
}

/* line 64, ../sass/_var.scss */
.second-color {
  background-color: #333333 !important;
}

/* line 68, ../sass/_var.scss */
.second-color-text {
  color: #333333 !important;
}

/* line 72, ../sass/_var.scss */
.third-color {
  background-color: #666666 !important;
}

/* line 76, ../sass/_var.scss */
.third-color-text {
  color: #666666 !important;
}

/* line 80, ../sass/_var.scss */
.fourth-color {
  background-color: black !important;
}

/* line 84, ../sass/_var.scss */
.fourth-color-text {
  color: black !important;
}

/* line 88, ../sass/_var.scss */
.fifth-color {
  background-color: white !important;
}

/* line 92, ../sass/_var.scss */
.fifth-color-text {
  color: white !important;
}

/* line 96, ../sass/_var.scss */
.sixth-color {
  background-color: #999999 !important;
}

/* line 100, ../sass/_var.scss */
.sixth-color-text {
  color: #999999 !important;
}

/* line 104, ../sass/_var.scss */
.seventh-color {
  background-color: #CCCCCC !important;
}

/* line 108, ../sass/_var.scss */
.seventh-color-text {
  color: #CCCCCC !important;
}

/* line 1, ../sass/_tools.scss */
.no-shadow {
  box-shadow: none !important;
}

/* line 5, ../sass/_tools.scss */
.no-padding-left {
  padding-left: 0;
}

/* line 9, ../sass/_tools.scss */
.no-padding-right {
  padding-right: 0;
}

/* line 13, ../sass/_tools.scss */
.no-padding-top {
  padding-top: 0;
}

/* line 17, ../sass/_tools.scss */
.no-padding-bottom {
  padding-bottom: 0;
}

/* line 21, ../sass/_tools.scss */
.bold {
  font-weight: bold;
}

/* line 25, ../sass/_tools.scss */
.half-with {
  width: 50%;
}

/* YOUR CUSTOM STYLES */
/* line 1, ../sass/_custom.scss */
html,
body,
header,
.view {
  height: 100%;
}

/* line 8, ../sass/_custom.scss */
body {
  padding-top: 70px;
  background-color: white;
  font-family: "RenaultLife-Regular";
}

@media only screen and (max-width: 992px) {
  /* line 15, ../sass/_custom.scss */
  body {
    padding-top: 60px;
  }
}
/* line 20, ../sass/_custom.scss */
.img-fluid {
  height: auto;
}

/* line 24, ../sass/_custom.scss */
.view {
  background: url("../media/design/index-full-screen.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 32, ../sass/_custom.scss */
.content-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  /* line 38, ../sass/_custom.scss */
  .full-bg-img,
  .view {
    height: auto;
    position: relative;
  }
}
@media (max-width: 992px) {
  /* line 45, ../sass/_custom.scss */
  .description {
    padding-top: 7rem;
    text-align: center;
  }

  /* line 49, ../sass/_custom.scss */
  #garage {
    max-height: 400px;
  }
}
/* line 54, ../sass/_custom.scss */
#home {
  padding-top: 37px;
}
/* line 56, ../sass/_custom.scss */
#home .description {
  color: white;
  padding-top: 25%;
  padding-bottom: 3rem;
}
/* line 61, ../sass/_custom.scss */
#home .button-bottom-row {
  margin-top: 25%;
}

/* line 66, ../sass/_custom.scss */
footer {
  background-color: #333333 !important;
}
/* line 68, ../sass/_custom.scss */
footer div {
  background-color: transparent;
}
/* line 71, ../sass/_custom.scss */
footer .footer-copyright {
  background-color: black !important;
}

/*PARALLAX*/
/*.parallax-n{
  height: 280px;
  transform: skewY(4deg);
  margin-bottom: 4%;
  margin-top: 4%;
  background-color: $fourth-color;
  .background {
    width: 100%;
    height: 100%;
    background-size: cover;
    &::before{
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $second-color;
      z-index: -1;
    }
  }
}

#section-1 {
  .background {
    background-image: url("../media/design/parallax-picture-1.jpg");
    &::before{
      transform: skewY(-8deg);
    }
  }
}

#section-2 {
  transform: skewY(-4deg);
  .background {
    background-image: url("../media/design/parallax-picture-2.jpg");
    &::before{
      transform: skewY(6deg);
    }
  }
}

#section-3 {
  .background {
    background-image: url("../media/design/parallax-picture-3.jpg");
    &::before{
      transform: skewY(-8deg);
    }
  }
}*/
/* line 127, ../sass/_custom.scss */
.new-parallax {
  margin-top: 2%;
  margin-bottom: 2%;
}
/* line 130, ../sass/_custom.scss */
.new-parallax .streak-photo {
  height: 400px;
}
/* line 133, ../sass/_custom.scss */
.new-parallax h2 {
  font-family: "RenaultLife-Light";
  font-size: 3em;
}

/* line 140, ../sass/_custom.scss */
#section-1 .streak-photo {
  background-image: url("../media/design/parallax-picture-1-sombre.jpg");
}

/* line 146, ../sass/_custom.scss */
#section-2 .streak-photo {
  height: 200px;
  background-image: url("../media/design/atelier-1.jpg");
}

/* line 153, ../sass/_custom.scss */
#section-3 .streak-photo {
  height: 200px;
  background-image: url("../media/design/parallax-picture-3.jpg");
}

/* line 159, ../sass/_custom.scss */
.card-footer {
  border-top: 1px solid #FFCC33;
}

/* line 167, ../sass/_custom.scss */
.card-prestations {
  /*border: 1px solid $first-color;*/
}
/* line 170, ../sass/_custom.scss */
.card-prestations .card-background img {
  padding: 10px;
  width: 70%;
  margin: auto;
}

/*Button Left*/
/* line 181, ../sass/_custom.scss */
.contact-button {
  position: fixed;
  left: -25px;
  top: 100px;
  z-index: 900;
}
/* line 186, ../sass/_custom.scss */
.contact-button a {
  left: 0px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  transition-timing-function: ease-in;
  width: 40px;
  color: white !important;
  border-radius: 0;
}
/* line 194, ../sass/_custom.scss */
.contact-button a:hover {
  left: 10px;
}
/* line 198, ../sass/_custom.scss */
.contact-button a.btn-envelope {
  background-color: #2196F3;
}
/* line 201, ../sass/_custom.scss */
.contact-button a.btn-map {
  background-color: #F44336;
}
/* line 204, ../sass/_custom.scss */
.contact-button a.btn-phone {
  background-color: #4CAF50;
}

/*RENAULT ELEMENTS*/
/*BUTTON*/
/* line 211, ../sass/_custom.scss */
.btn-renault, .btn-renault-black-text, .btn-renault-primary, .btn-renault-secondary, .btn-renault-tertiary-white, .btn-renault-white-text, .btn-renault-tertiary-grey {
  font-family: "RenaultLife-Bold";
  border-radius: 0;
}
/* line 214, ../sass/_custom.scss */
.btn-renault i, .btn-renault-black-text i, .btn-renault-primary i, .btn-renault-secondary i, .btn-renault-tertiary-white i, .btn-renault-white-text i, .btn-renault-tertiary-grey i {
  margin-left: 10px;
}

/* line 219, ../sass/_custom.scss */
.btn-renault-black-text, .btn-renault-primary, .btn-renault-secondary, .btn-renault-tertiary-white {
  color: black !important;
}

/* line 224, ../sass/_custom.scss */
.btn-renault-white-text, .btn-renault-tertiary-grey {
  color: white !important;
}

/* line 229, ../sass/_custom.scss */
.btn-renault-primary {
  background-color: #FFCC33;
}
/* line 232, ../sass/_custom.scss */
.btn-renault-primary:hover {
  background-color: #FFDD33;
}

/* line 237, ../sass/_custom.scss */
.btn-renault-secondary {
  background-color: #CCCCCC;
}
/* line 240, ../sass/_custom.scss */
.btn-renault-secondary:hover {
  background-color: #e0e0e0;
}

/* line 245, ../sass/_custom.scss */
.btn-renault-tertiary-white {
  background-color: white;
}
/* line 248, ../sass/_custom.scss */
.btn-renault-tertiary-white:hover {
  background-color: #e0e0e0;
}

/* line 253, ../sass/_custom.scss */
.btn-renault-tertiary-grey {
  background-color: #333333;
  color: white;
}
/* line 257, ../sass/_custom.scss */
.btn-renault-tertiary-grey:hover {
  background-color: #555555;
}

/*HORIZONTAL BAR*/
/* line 263, ../sass/_custom.scss */
hr.renault-primary {
  background-color: #FFCC33;
  height: 3px;
  border: none;
}

/*LINK*/
/* line 270, ../sass/_custom.scss */
a.renault-link {
  color: black;
  text-transform: uppercase;
  /*font-family: $second-font;*/
}
/* line 274, ../sass/_custom.scss */
a.renault-link i {
  margin-left: 10px;
}
/* line 277, ../sass/_custom.scss */
a.renault-link:hover {
  color: #666666;
  text-decoration: underline;
}

/* line 283, ../sass/_custom.scss */
.row-centered {
  text-align: center;
}

/* line 286, ../sass/_custom.scss */
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}

/* line 297, ../sass/_custom.scss */
.tabs-3 .nav-item .nav-link {
  border-radius: 0px;
  text-transform: uppercase;
}
/* line 300, ../sass/_custom.scss */
.tabs-3 .nav-item .nav-link.active {
  background-color: transparent !important;
  color: #fff;
  border-bottom: solid 1px #FFCC33 !important;
}

/* line 1, ../sass/_navigation.scss */
.navbar {
  background-color: white;
}
/* line 4, ../sass/_navigation.scss */
.navbar .navbar-desktop .navbar-brand {
  color: black !important;
  font-weight: bold;
  font-family: "RenaultLife-Light";
}
/* line 11, ../sass/_navigation.scss */
.navbar .navbar-desktop .navbar-nav .nav-item a {
  color: black;
  font-weight: bold;
}
/* line 15, ../sass/_navigation.scss */
.navbar .navbar-desktop .navbar-nav .nav-item .dropdown-menu {
  background-color: white;
}
/* line 18, ../sass/_navigation.scss */
.navbar .navbar-desktop .navbar-nav .nav-item .dropdown-menu a:hover {
  background-color: white;
}
/* line 27, ../sass/_navigation.scss */
.navbar .navbar-mobile .side-nav {
  background: white !important;
}
/* line 28, ../sass/_navigation.scss */
.navbar .navbar-mobile .side-nav ul.social {
  border: none !important;
}
/* line 34, ../sass/_navigation.scss */
.navbar .navbar-mobile .side-nav ul li a {
  color: black;
  font-weight: bold;
}
/* line 37, ../sass/_navigation.scss */
.navbar .navbar-mobile .side-nav ul li a:visited {
  color: black;
}
/* line 46, ../sass/_navigation.scss */
.navbar .button-collapse a {
  color: black !important;
}

/* line 52, ../sass/_navigation.scss */
.scrolling-navbar {
  z-index: 998 !important;
}

/* line 56, ../sass/_navigation.scss */
.top-nav-collapse {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
/* line 60, ../sass/_navigation.scss */
.top-nav-collapse .navbar-brand {
  color: black !important;
}
/* line 62, ../sass/_navigation.scss */
.top-nav-collapse .navbar-brand:visited {
  color: black;
}
