/*VARIABLES, TOOLS & ADD-ON*/
/*FONTS*/
@font-face {
  font-family: "RenaultLife-Regular";
  src: url("../font/Renault/RenaultLife-Regular.ttf");
}
@font-face {
  font-family: "RenaultLife-Bold";
  src: url("../font/Renault/RenaultLife-Bold.ttf");
}
@font-face {
  font-family: "RenaultLife-BoldItalic";
  src: url("../font/Renault/RenaultLife-BoldItalic.ttf");
}
@font-face {
  font-family: "RenaultLife-Italic";
  src: url("../font/Renault/RenaultLife-Italic.ttf");
}
@font-face {
  font-family: "RenaultLife-Light";
  src: url("../font/Renault/RenaultLife-Light.ttf");
}
@font-face {
  font-family: "RenaultLife-LightItalic";
  src: url("../font/Renault/RenaultLife-LightItalic.ttf");
}
/*COLORS*/
/* line 57, ../sass/_var.scss */
.first-color {
  background-color: #FFCC33 !important;
}

/* line 61, ../sass/_var.scss */
.first-color-text {
  color: #FFCC33 !important;
}

/* line 65, ../sass/_var.scss */
.second-color {
  background-color: #333333 !important;
}

/* line 69, ../sass/_var.scss */
.second-color-text {
  color: #333333 !important;
}

/* line 73, ../sass/_var.scss */
.third-color {
  background-color: #666666 !important;
}

/* line 77, ../sass/_var.scss */
.third-color-text {
  color: #666666 !important;
}

/* line 81, ../sass/_var.scss */
.fourth-color {
  background-color: black !important;
}

/* line 85, ../sass/_var.scss */
.fourth-color-text {
  color: black !important;
}

/* line 89, ../sass/_var.scss */
.fifth-color {
  background-color: white !important;
}

/* line 93, ../sass/_var.scss */
.fifth-color-text {
  color: white !important;
}

/* line 97, ../sass/_var.scss */
.sixth-color {
  background-color: #999999 !important;
}

/* line 101, ../sass/_var.scss */
.sixth-color-text {
  color: #999999 !important;
}

/* line 105, ../sass/_var.scss */
.seventh-color {
  background-color: #CCCCCC !important;
}

/* line 109, ../sass/_var.scss */
.seventh-color-text {
  color: #CCCCCC !important;
}

/* line 1, ../sass/_tools.scss */
.no-shadow {
  box-shadow: none !important;
}

/* line 5, ../sass/_tools.scss */
.no-padding-left {
  padding-left: 0;
}

/* line 9, ../sass/_tools.scss */
.no-padding-right {
  padding-right: 0;
}

/* line 13, ../sass/_tools.scss */
.no-padding-top {
  padding-top: 0;
}

/* line 17, ../sass/_tools.scss */
.no-padding-bottom {
  padding-bottom: 0;
}

/* line 21, ../sass/_tools.scss */
.bold {
  font-weight: bold;
}

/* line 25, ../sass/_tools.scss */
.half-with {
  width: 50%;
}

/* YOUR CUSTOM STYLES */
/* line 1, ../sass/_custom.scss */
html,
body,
.view {
  height: 100%;
}

/* line 7, ../sass/_custom.scss */
body {
  background-color: white;
  font-family: "RenaultLife-Regular";
}

/* line 12, ../sass/_custom.scss */
main {
  min-height: 90%;
}

/*@media only screen and (max-width: 992px) {
  body{
    padding-top: 60px;
  }
}*/
/* line 22, ../sass/_custom.scss */
.img-fluid {
  height: auto;
}

/* line 26, ../sass/_custom.scss */
.view {
  background: url("../media/design/index-full-screen.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 34, ../sass/_custom.scss */
.content-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  /* line 40, ../sass/_custom.scss */
  .full-bg-img,
  .view {
    height: auto;
    position: relative;
  }
}
@media (max-width: 992px) {
  /* line 47, ../sass/_custom.scss */
  .description {
    padding-top: 7rem;
    text-align: center;
  }

  /* line 51, ../sass/_custom.scss */
  #garage {
    max-height: 400px;
  }
}
/* line 57, ../sass/_custom.scss */
.description {
  color: white;
}

/* line 61, ../sass/_custom.scss */
#btn-enter-index {
  margin-bottom: 20px;
}

/* line 66, ../sass/_custom.scss */
footer {
  background-color: #333333 !important;
}
/* line 68, ../sass/_custom.scss */
footer div {
  background-color: transparent;
}
/* line 71, ../sass/_custom.scss */
footer .footer-copyright {
  background-color: black !important;
}

/* line 76, ../sass/_custom.scss */
.new-parallax {
  margin-top: 2%;
  margin-bottom: 2%;
}
/* line 79, ../sass/_custom.scss */
.new-parallax .streak-photo {
  height: 400px;
}
/* line 82, ../sass/_custom.scss */
.new-parallax h2 {
  font-family: "RenaultLife-Light";
  font-size: 3em;
}

/* line 89, ../sass/_custom.scss */
#section-1 .streak-photo {
  background-image: url("../media/design/parallax-picture-1-sombre.jpg");
}

/* line 95, ../sass/_custom.scss */
#section-2 .streak-photo {
  height: 200px;
  background-image: url("../media/design/atelier-1.jpg");
}

/* line 102, ../sass/_custom.scss */
#section-3 .streak-photo {
  height: 200px;
  background-image: url("../media/design/parallax-picture-3.jpg");
}

/* line 108, ../sass/_custom.scss */
.card-footer {
  border-top: 1px solid #FFCC33;
}

/* line 112, ../sass/_custom.scss */
.card-prestations {
  /*border: 1px solid $first-color;*/
}
/* line 115, ../sass/_custom.scss */
.card-prestations .card-background img {
  padding: 10px;
  width: 70%;
  margin: auto;
}

/*Button Left*/
/* line 126, ../sass/_custom.scss */
.contact-phone {
  position: fixed;
  right: 0px;
  bottom: 10px;
  z-index: 900;
}
/* line 131, ../sass/_custom.scss */
.contact-phone a {
  color: black !important;
  border-radius: 0;
  padding: 12.8px;
  width: 40px;
  right: -10px;
}
/* line 139, ../sass/_custom.scss */
.contact-phone a.btn-envelope {
  background-color: #2196f3;
}
/* line 142, ../sass/_custom.scss */
.contact-phone a.btn-map {
  background-color: #f44336;
}
/* line 145, ../sass/_custom.scss */
.contact-phone a.btn-phone {
  background-color: #4caf50;
}

/* line 150, ../sass/_custom.scss */
.contact-computer {
  position: fixed;
  left: 0px;
  top: 100px;
  z-index: 900;
}
/* line 155, ../sass/_custom.scss */
.contact-computer a {
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  transition-timing-function: ease-in;
  color: white !important;
  border-radius: 0;
  padding: 12.8px;
  height: 42.3px;
  font-size: 12.8px;
}
/* line 165, ../sass/_custom.scss */
.contact-computer a i {
  margin-left: 12.8px;
}
/* line 168, ../sass/_custom.scss */
.contact-computer a:hover {
  left: -10px;
}
/* line 172, ../sass/_custom.scss */
.contact-computer a.btn-envelope {
  left: -210px;
  background-color: #2196F3;
}
/* line 175, ../sass/_custom.scss */
.contact-computer a.btn-envelope:hover {
  left: -10px;
}
/* line 179, ../sass/_custom.scss */
.contact-computer a.btn-map {
  left: -106px;
  background-color: #F44336;
}
/* line 182, ../sass/_custom.scss */
.contact-computer a.btn-map i {
  margin-right: 5px;
}
/* line 185, ../sass/_custom.scss */
.contact-computer a.btn-map:hover {
  left: -10px;
}
/* line 189, ../sass/_custom.scss */
.contact-computer a.btn-phone {
  left: -123px;
  background-color: #4CAF50;
}
/* line 192, ../sass/_custom.scss */
.contact-computer a.btn-phone:hover {
  left: -10px;
}

/*RENAULT ELEMENTS*/
/*BUTTON*/
/* line 200, ../sass/_custom.scss */
.btn-renault, .btn-renault-black-text, .btn-renault-primary, .btn-renault-secondary, .btn-renault-tertiary-white, .btn-renault-white-text, .btn-renault-tertiary-grey {
  font-family: "RenaultLife-Bold" !important;
  border-radius: 0 !important;
}
/* line 203, ../sass/_custom.scss */
.btn-renault i, .btn-renault-black-text i, .btn-renault-primary i, .btn-renault-secondary i, .btn-renault-tertiary-white i, .btn-renault-white-text i, .btn-renault-tertiary-grey i {
  margin-left: 10px !important;
}

/* line 208, ../sass/_custom.scss */
.btn-renault-black-text, .btn-renault-primary, .btn-renault-secondary, .btn-renault-tertiary-white {
  color: black !important;
}

/* line 213, ../sass/_custom.scss */
.btn-renault-white-text, .btn-renault-tertiary-grey {
  color: white !important;
}

/* line 218, ../sass/_custom.scss */
.btn-renault-primary {
  background-color: #FFCC33 !important;
}
/* line 221, ../sass/_custom.scss */
.btn-renault-primary:hover {
  background-color: #FFDD33 !important;
}

/* line 226, ../sass/_custom.scss */
.btn-renault-secondary {
  background-color: #CCCCCC;
}
/* line 229, ../sass/_custom.scss */
.btn-renault-secondary:hover {
  background-color: #e0e0e0;
}

/* line 234, ../sass/_custom.scss */
.btn-renault-tertiary-white {
  background-color: white;
}
/* line 237, ../sass/_custom.scss */
.btn-renault-tertiary-white:hover {
  background-color: #e0e0e0;
}

/* line 242, ../sass/_custom.scss */
.btn-renault-tertiary-grey {
  background-color: #333333;
  color: white;
}
/* line 246, ../sass/_custom.scss */
.btn-renault-tertiary-grey:hover {
  background-color: #555555;
}

/*HORIZONTAL BAR*/
/* line 252, ../sass/_custom.scss */
hr.renault-primary {
  background-color: #FFCC33;
  height: 3px;
  border: none;
}

/*LINK*/
/* line 259, ../sass/_custom.scss */
a.renault-link {
  color: black;
  text-transform: uppercase;
  /*font-family: $second-font;*/
}
/* line 263, ../sass/_custom.scss */
a.renault-link i {
  margin-left: 10px;
}
/* line 266, ../sass/_custom.scss */
a.renault-link:hover {
  color: #666666;
  text-decoration: underline;
}

/*OTHERS*/
/* line 273, ../sass/_custom.scss */
span.renault-sub-heading {
  font-family: "RenaultLife-Light";
  text-transform: uppercase;
}

/* line 278, ../sass/_custom.scss */
span.renault-italic {
  font-family: "RenaultLife-LightItalic";
}

/*END RENAULT*/
/* line 283, ../sass/_custom.scss */
.row-centered {
  text-align: center;
}

/* line 287, ../sass/_custom.scss */
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

/* line 296, ../sass/_custom.scss */
.tabs-3 .nav-item .nav-link {
  border-radius: 0px;
  text-transform: uppercase;
}
/* line 299, ../sass/_custom.scss */
.tabs-3 .nav-item .nav-link.active {
  background-color: transparent !important;
  color: #fff;
  border-bottom: solid 1px #FFCC33 !important;
}

/* line 309, ../sass/_custom.scss */
.car-header .streak-photo {
  height: 700px;
  margin-top: -25px;
}
/* line 312, ../sass/_custom.scss */
.car-header .streak-photo .car-title-header {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.65);
  color: black;
  font-family: "RenaultLife-Regular";
}
/* line 317, ../sass/_custom.scss */
.car-header .streak-photo .car-title-header .header-1 {
  font-size: 48px;
  line-height: 43px;
  margin: 0;
}
/* line 322, ../sass/_custom.scss */
.car-header .streak-photo .car-title-header .header-2 {
  font-size: 22px;
  line-height: 24px;
  margin: 0;
}

@media only screen and (max-width: 992px) {
  /* line 335, ../sass/_custom.scss */
  .car-header .streak-photo {
    height: 300px;
    margin-top: -38px;
  }
}
/* line 343, ../sass/_custom.scss */
.new-car-price {
  min-width: 25%;
  padding: 10px;
}

/* line 348, ../sass/_custom.scss */
.new-car-price-per-month {
  padding: 10px;
  border-left: 2px solid black;
}

/* line 353, ../sass/_custom.scss */
.video-container {
  position: relative;
  padding-bottom: 37%;
  padding-top: 30px;
  width: 70%;
  overflow: hidden;
  margin: auto;
}

/* line 362, ../sass/_custom.scss */
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 373, ../sass/_custom.scss */
.card-voiture .voiture-image {
  position: relative;
}
/* line 375, ../sass/_custom.scss */
.card-voiture .voiture-image .status {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 5px;
}
/* line 381, ../sass/_custom.scss */
.card-voiture .voiture-image .status.arrive {
  background-color: rgba(255, 138, 36, 0.7);
}
/* line 384, ../sass/_custom.scss */
.card-voiture .voiture-image .status.delay {
  background-color: rgba(0, 166, 255, 0.7);
}
/* line 387, ../sass/_custom.scss */
.card-voiture .voiture-image .status.on-sale {
  background-color: rgba(0, 190, 60, 0.7);
}
/* line 390, ../sass/_custom.scss */
.card-voiture .voiture-image .status.sold {
  background-color: rgba(255, 0, 35, 0.7);
}

/* line 398, ../sass/_custom.scss */
.accordion .card-header {
  background-color: #333333 !important;
}
/* line 400, ../sass/_custom.scss */
.accordion .card-header a {
  color: white !important;
  text-transform: uppercase;
}
/* line 403, ../sass/_custom.scss */
.accordion .card-header a[aria-expanded=true] {
  color: #FFCC33 !important;
}

/* line 1, ../sass/_navigation.scss */
.renault-nav {
  background-color: white !important;
}
/* line 3, ../sass/_navigation.scss */
.renault-nav .side-nav {
  background: white !important;
}
/* line 4, ../sass/_navigation.scss */
.renault-nav .side-nav ul.social {
  border: none !important;
}
/* line 10, ../sass/_navigation.scss */
.renault-nav .side-nav ul li a {
  color: black;
  font-weight: bold;
}
/* line 13, ../sass/_navigation.scss */
.renault-nav .side-nav ul li a:visited {
  color: black;
}
/* line 20, ../sass/_navigation.scss */
.renault-nav .navbar-brand {
  color: black !important;
  font-weight: bold;
  font-family: "RenaultLife-Light";
}
/* line 25, ../sass/_navigation.scss */
.renault-nav .navbar {
  background-color: white !important;
}
/* line 29, ../sass/_navigation.scss */
.renault-nav .navbar .navbar-nav .nav-item a {
  color: black;
  font-weight: bold;
}
/* line 32, ../sass/_navigation.scss */
.renault-nav .navbar .navbar-nav .nav-item a:hover {
  color: #FFCC33;
}
/* line 36, ../sass/_navigation.scss */
.renault-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: white;
}
/* line 39, ../sass/_navigation.scss */
.renault-nav .navbar .navbar-nav .nav-item .dropdown-menu a:hover {
  color: black;
}
/* line 47, ../sass/_navigation.scss */
.renault-nav .head-mobile-nav {
  width: 100%;
  color: black !important;
}
/* line 50, ../sass/_navigation.scss */
.renault-nav .head-mobile-nav .button-collapse {
  color: black !important;
}
/* line 54, ../sass/_navigation.scss */
.renault-nav .scrolling-navbar {
  z-index: 998 !important;
}
/* line 58, ../sass/_navigation.scss */
.renault-nav .top-nav-collapse {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
/* line 62, ../sass/_navigation.scss */
.renault-nav .top-nav-collapse .navbar-brand {
  color: black !important;
}
/* line 64, ../sass/_navigation.scss */
.renault-nav .top-nav-collapse .navbar-brand:visited {
  color: black;
}
