html,
body,
header,
.view {
  height: 100%;
}

body{
  padding-top: 70px;
  background-color: $fifth-color;
  font-family: $first-font;
}

@media only screen and (max-width: 992px) {
  body{
    padding-top: 60px;
  }
}

.img-fluid{
  height: auto;
}

.view {
  background: url("../media/design/index-full-screen.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-section{
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .full-bg-img,
  .view {
    height: auto;
    position: relative;
  }
}
@media (max-width: 992px) {
  .description {
    padding-top: 7rem;
    text-align: center;
  }
  #garage {
    max-height: 400px;
  }
}

#home{
  padding-top: 37px;
  .description{
    color: $fifth-color;
    padding-top: 25%;
    padding-bottom: 3rem;
  }
  .button-bottom-row{
    margin-top: 25%;
  }
}

footer {
  background-color: $second-color!important;
  div{
    background-color: transparent;
  }
  .footer-copyright {
    background-color: $fourth-color!important;
  }
}

/*PARALLAX*/
/*.parallax-n{
  height: 280px;
  transform: skewY(4deg);
  margin-bottom: 4%;
  margin-top: 4%;
  background-color: $fourth-color;
  .background {
    width: 100%;
    height: 100%;
    background-size: cover;
    &::before{
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $second-color;
      z-index: -1;
    }
  }
}

#section-1 {
  .background {
    background-image: url("../media/design/parallax-picture-1.jpg");
    &::before{
      transform: skewY(-8deg);
    }
  }
}

#section-2 {
  transform: skewY(-4deg);
  .background {
    background-image: url("../media/design/parallax-picture-2.jpg");
    &::before{
      transform: skewY(6deg);
    }
  }
}

#section-3 {
  .background {
    background-image: url("../media/design/parallax-picture-3.jpg");
    &::before{
      transform: skewY(-8deg);
    }
  }
}*/

.new-parallax{
  margin-top: 2%;
  margin-bottom: 2%;
  .streak-photo{
    height: 400px;
  }
  h2{
    font-family: $fifth-font;
    font-size: 3em;
  }
}

#section-1 {
  .streak-photo {
    background-image: url("../media/design/parallax-picture-1-sombre.jpg");
  }
}

#section-2 {
  .streak-photo {
    height: 200px;
    background-image: url("../media/design/atelier-1.jpg");
  }
}

#section-3 {
  .streak-photo {
    height: 200px;
    background-image: url("../media/design/parallax-picture-3.jpg");
  }
}

.card-footer{
  border-top: 1px solid $first-color;
}

.prestations-header{

}

.card-prestations{
  /*border: 1px solid $first-color;*/
  .card-background{
    img{
      padding: 10px;
      width: 70%;
      margin: auto;
    }
  }
  .card-block{
  }
}

/*Button Left*/
.contact-button {
  position: fixed;
  left: -25px;
  top: 100px;
  z-index: 900;
  a {
    left: 0px;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
    transition-timing-function: ease-in;
    width: 40px;
    color: $fifth-color!important;
    border-radius: 0;
    &:hover {
      left: 10px;
    }
  }
  a.btn-envelope {
    background-color: #2196F3;
  }
  a.btn-map{
    background-color: #F44336;
  }
  a.btn-phone{
    background-color: #4CAF50;
  }
}

/*RENAULT ELEMENTS*/
/*BUTTON*/
.btn-renault{
  font-family: $second-font;
  border-radius: 0;
  i{
    margin-left: 10px;
  }
}

.btn-renault-black-text{
  @extend .btn-renault;
  color: $fourth-color!important;
}

.btn-renault-white-text{
  @extend .btn-renault;
  color: $fifth-color!important;
}

.btn-renault-primary{
  @extend .btn-renault-black-text;
  background-color: $first-color;
  &:hover{
    background-color: $first-color-off;
  }
}

.btn-renault-secondary{
  @extend .btn-renault-black-text;
  background-color: $seventh-color;
  &:hover{
    background-color: $seventh-color-off;
  }
}

.btn-renault-tertiary-white{
  @extend .btn-renault-black-text;
  background-color: $fifth-color;
  &:hover{
    background-color: $seventh-color-off;
  }
}

.btn-renault-tertiary-grey{
  @extend .btn-renault-white-text;
  background-color: $second-color;
  color: $fifth-color;
  &:hover{
    background-color: $second-color-off;
  }
}

/*HORIZONTAL BAR*/
hr.renault-primary{
  background-color: $first-color;
  height: 3px;
  border: none;
}

/*LINK*/
a.renault-link{
  color: $fourth-color;
  text-transform: uppercase;
  /*font-family: $second-font;*/
  i{
    margin-left: 10px;
  }
  &:hover{
    color: $third-color;
    text-decoration: underline;
  }
}

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.tabs-3 {
  .nav-item {
    .nav-link {
      border-radius: 0px;
      text-transform: uppercase;
      &.active {
        background-color: transparent !important;
        color: #fff;
        border-bottom: solid 1px $first-color !important;
      }
    }
  }
}

.car-header{
  .streak-photo{
    height: 500px;
    margin-top: -15px;
    .car-title-header{
      font-family: "RenaultLife-Light";
      padding: 20px;
      background-color: $header-car;
    }
  }
}
