html,
body,
.view {
  height: 100%;
}

body{
  background-color: $fifth-color;
  font-family: $first-font;
}

main{
  min-height: 90%;
}

/*@media only screen and (max-width: 992px) {
  body{
    padding-top: 60px;
  }
}*/

.img-fluid{
  height: auto;
}

.view {
  background: url("../media/design/index-full-screen.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-section{
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .full-bg-img,
  .view {
    height: auto;
    position: relative;
  }
}
@media (max-width: 992px) {
  .description {
    padding-top: 7rem;
    text-align: center;
  }
  #garage {
    max-height: 400px;
  }
}


  .description{
    color: $fifth-color;
  }

  #btn-enter-index{
    margin-bottom: 20px;
  }


footer {
  background-color: $second-color!important;
  div{
    background-color: transparent;
  }
  .footer-copyright {
    background-color: $fourth-color!important;
  }
}

.new-parallax{
  margin-top: 2%;
  margin-bottom: 2%;
  .streak-photo{
    height: 400px;
  }
  h2{
    font-family: $fifth-font;
    font-size: 3em;
  }
}

#section-1 {
  .streak-photo {
    background-image: url("../media/design/parallax-picture-1-sombre.jpg");
  }
}

#section-2 {
  .streak-photo {
    height: 200px;
    background-image: url("../media/design/parallax-picture-4.jpg");
  }
}

#section-3 {
  .streak-photo {
    height: 200px;
    background-image: url("../media/design/parallax-picture-3.jpg");
  }
}

.card-footer{
  border-top: 1px solid $first-color;
}

.card-prestations{
  /*border: 1px solid $first-color;*/
  .card-background{
    img{
      padding: 10px;
      width: 70%;
      margin: auto;
    }
  }
  .card-block{
  }
}

/*Button Left*/
.contact-phone{
  position: fixed;
  right: 0px;
  bottom: 10px;
  z-index: 900;
  a {
    $var1: 12.8px;
    color: $fourth-color!important;
    border-radius: 0;
    padding: $var1;
    width: 40px;
    right: -10px;
  }
  a.btn-envelope {
    background-color: rgba(33,150,243, 1);
  }
  a.btn-map{
    background-color: rgba(244,67,54, 1);
  }
  a.btn-phone{
    background-color: rgba(76,175,80, 1);
  }
}

.contact-computer {
  position: fixed;
  left: 0px;
  top: 100px;
  z-index: 900;
  div {
    $var1: 12.8px;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
    transition-timing-function: ease-in;
    color: $fifth-color!important;
    border-radius: 0;
    padding: $var1;
    height: 42.3px;
    font-size: 12.8px;
    i{
      margin-left:$var1;
    }
  }
  div.btn-envelope {
    left: -210px;
    background-color: #2196F3;
  }
  div.btn-map{
    left: -106px;
    background-color: #F44336;
    i{
      margin-right: 5px;
    }
  }
  div.btn-phone{
    left: -123px;
    background-color: #4CAF50;
  }
  div.show{
    left: -10px;
  }
}

/*RENAULT ELEMENTS*/
/*BUTTON*/
.btn-renault{
  font-family: $second-font!important;
  border-radius: 0!important;
  i{
    margin-left: 10px!important;
  }
}

.btn-renault-black-text{
  @extend .btn-renault;
  color: $fourth-color!important;
}

.btn-renault-white-text{
  @extend .btn-renault;
  color: $fifth-color!important;
}

.btn-renault-primary{
  @extend .btn-renault-black-text;
  background-color: $first-color!important;
  &:hover{
    background-color: $first-color-off!important;
  }
}

.btn-renault-secondary{
  @extend .btn-renault-black-text;
  background-color: $seventh-color;
  &:hover{
    background-color: $seventh-color-off;
  }
}

.btn-renault-tertiary-white{
  @extend .btn-renault-black-text;
  background-color: $fifth-color;
  &:hover{
    background-color: $seventh-color-off;
  }
}

.btn-renault-tertiary-grey{
  @extend .btn-renault-white-text;
  background-color: $second-color;
  color: $fifth-color;
  &:hover{
    background-color: $second-color-off;
  }
}

/*HORIZONTAL BAR*/
hr.renault-primary{
  background-color: $first-color;
  height: 3px;
  border: none;
}

/*LINK*/
a.renault-link{
  color: $fourth-color;
  text-transform: uppercase;
  /*font-family: $second-font;*/
  i{
    margin-left: 10px;
  }
  &:hover{
    color: $third-color;
    text-decoration: underline;
  }
}

/*OTHERS*/
span.renault-sub-heading{
  font-family: "RenaultLife-Light";
  text-transform: uppercase;
}

span.renault-italic{
  font-family: "RenaultLife-LightItalic";
}
/*END RENAULT*/

.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

.tabs-3 {
  .nav-item {
    .nav-link {
      border-radius: 0px;
      text-transform: uppercase;
      &.active {
        background-color: transparent !important;
        color: #fff;
        border-bottom: solid 1px $first-color !important;
      }
    }
  }
}

.car-header{
  .streak-photo{
    height: 700px;
    margin-top: -25px;
    .car-title-header{
      padding: 20px;
      background-color: $header-car;
      color: $fourth-color;
      font-family: "RenaultLife-Regular";
      .header-1{
        font-size: 48px;
        line-height: 43px;
        margin: 0;
      }
      .header-2{
        font-size: 22px;
        line-height: 24px;
        margin: 0;
      }

    }
  }
}


@media only screen and (max-width: 992px) {
  .car-header{
    .streak-photo{
      height: 300px;
      margin-top: -38px;
    }
  }
}


.new-car-price{
  min-width: 25%;
  padding: 10px;
}

.new-car-price-per-month{
  padding: 10px;
  border-left: 2px solid black;
}

.video-container {
  position: relative;
  padding-bottom: 37%;
  padding-top: 30px;
  width: 70%;
  overflow: hidden;
  margin: auto;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-voiture{
  .voiture-image{
    position:relative;
    .status{
      position: absolute;
      bottom: 0;
      right: 0;
      color: white;
      padding: 5px;
    }
  }
}

.status-details{
  text-transform: uppercase;
  color: white;
}

.arrive{
  background-color: rgba(255, 138, 36, 1);
}
.delay{
  background-color: rgba(0, 166, 255, 1);
}
.on-sale{
  background-color: rgba(0,190,60, 1);
}
.sold{
  background-color: rgb(190, 30, 0);
}

.status-details{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.boncoin-button{
  text-transform: none;
  background-color: #f56b2a;
}

.accordion{
  .card-header{
    background-color: $second-color!important;
    a{
      color: $fifth-color!important;
      text-transform: uppercase;
      &[aria-expanded=true]{
        color: $first-color!important;
      }
    }
  }
}

.secondhand-carousel{
  background-color: $seventh-color-off!important;
  .carousel-inner{
    height: 600px;
    .carousel-item{
      height: 100%;
      .secondhand-image-carousel{
        margin: auto;
        height: 100%;
      }
    }
  }
  .carousel-control-prev-icon, .carousel-control-next-icon{
    color: $first-color;
    background: none;
  }
}


@media only screen and (max-width: 992px) {
  .secondhand-carousel{
    background-color: $seventh-color-off!important;
    .carousel-inner {
      height: 250px;
    }
  }
}


.article-header{
  .streak-photo{
    height: 300px;
    margin-top: -25px;
  }
  margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {
  .article-header{
    .streak-photo{
      margin-top: -38px;
    }
  }
}

.service-promo{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255,204,51,0.7);
  span{
    padding: 3px;
  }
}

form{
  input:focus, textarea:focus{
    border-bottom: 1px solid $first-color!important;
  }
  .btn-cent-percent-width{
    width: 100%;
  }
  [type="checkbox"]:checked {
    + label:before {
      border-right: 2px solid $first-color!important;
      border-bottom: 2px solid $first-color!important;
    }
  }
}