.navbar {
  background-color: $fifth-color;
  .navbar-desktop{
    .navbar-brand{
      color: $fourth-color!important;
      font-weight: bold;
      font-family: $fifth-font;
    }
    .navbar-nav {
      .nav-item {
        a {
          color: $fourth-color;
          font-weight: bold;
          &:hover{
            color: #FFCC33;
          }
        }
        .dropdown-menu{
          background-color: white;
          a{
            &:hover{
              color: black;
            }
          }
        }
      }
    }
  }
  .navbar-mobile{
    .side-nav{
      ul.social{
        border: none!important;
      }
      background: white !important;
      ul {
        li{
          a{
            color: $fourth-color;
            font-weight: bold;
            &:visited{
              color: $fourth-color;
            }
          }
        }
      }
    }
  }
  .button-collapse{
    a{
      color: $fourth-color!important;
    }
  }
}

  .scrolling-navbar {
    z-index: 998 !important;
  }

.top-nav-collapse {
  background-color: $fifth-color!important;
  color: $fourth-color!important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
  .navbar-brand{
    color: $fourth-color!important;
    &:visited{
      color: $fourth-color;
    }
  }
}