/*FONTS*/
/*@font-face {
  font-family: "Monthoers";
  src: url("../fonts/Monthoers.ttf");
}

$first-font: "Monthoers";
$second-font: none;*/

/*COLORS*/
$first-color: #FFCC33;
$second-color: #333333;
$third-color: #E9E9E9;
$fourth-color: black;
$fifth-color: white;

.first-color{
  background-color: $first-color!important;
}

.first-color-text{
  color: $first-color!important;
}

.second-color{
  background-color: $second-color!important;
}

.second-color-text{
  color: $second-color!important;
}

.third-color{
  background-color: $third-color!important;
}

.third-color-text{
  color: $third-color!important;
}

.fourth-color{
  background-color: $fourth-color!important;
}

.fourth-color-text{
  color: $fourth-color!important;
}

.fifth-color{
  background-color: $fifth-color!important;
}

.fifth-color-text{
  color: $fifth-color!important;
}