@import "var";

body{
  padding-top: 0px!important;
}

@media only screen and (max-width: 992px) {
  body{
    padding-top: 0px!important;
  }
}

.navbar {
  background-color: transparent;
  .navbar-desktop{
    .navbar-brand{
      color: $fifth-color!important;
    }
    .navbar-nav {
      .nav-item {
        a {
          color: $fifth-color;
        }
        .dropdown-menu{
          background-color: white;
          a{
            &:hover{
              background-color: white;
            }
          }
        }
      }
    }
  }
  .navbar-mobile{
    .side-nav{
      ul.social{
        border: none!important;
      }
      background: white !important;
      ul {
        li{
          a{
            color: $fourth-color;
            font-weight: bold;
          }
        }
      }
    }
  }
  .button-collapse{
    a{
      color: $fifth-color!important;
    }
  }
}

.scrolling-navbar {
  z-index: 998 !important;
}

.top-nav-collapse {
  background-color: $fifth-color!important;
  .navbar-desktop{
    .navbar-brand{
      color: $fourth-color!important;
    }
    .navbar-nav {
      .nav-item {
        a {
          color: $fourth-color!important;
        }
        .dropdown-menu{
          background-color: white;
          a{
            &:hover{
              background-color: white;
            }
          }
        }
      }
    }
  }
  .button-collapse{
    a{
      color: $fourth-color!important;
    }
  }
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;
}


/*
.contact-button {
  a {
    background-color: $fifth-color!important;
    color: $fourth-color!important;
  }
}*/
