@import "var";

body{
  padding-top: 0px!important;
}

@media only screen and (max-width: 992px) {
  body{
    padding-top: 0px!important;
  }
}

.renault-nav{
  .navbar-brand{
    color: $fifth-color!important;
    font-weight: bold;
    font-family: $fifth-font;
  }
  .navbar{
    .navbar-nav {
      .nav-item {
        a {
          color: $fifth-color;
          font-weight: bold;
          &:hover{
            color: #FFCC33;
          }
        }
        .dropdown-menu{
          background-color: white;
          a{
            &:hover{
              color: black;
            }
          }
        }
      }
    }
  }
  .head-mobile-nav{
    width: 100%;
    color: $fifth-color!important;
    .button-collapse {
      color: $fifth-color!important;
    }
  }
}

.scrolling-navbar {
  z-index: 998 !important;
}

.top-nav-collapse {
  background-color: $fifth-color !important;
  .navbar-brand {
    color: $fourth-color !important;
  }
  .navbar-nav {
    .nav-item {
      a {
        color: $fourth-color !important;
      }
      .dropdown-menu {
        background-color: white;
        a {
          &:hover {
            background-color: white;
          }
        }
      }
    }
  }
  .head-mobile-nav {
    .button-collapse {
        color: $fourth-color !important;
    }
  }
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}


/*
.contact-button {
  a {
    background-color: $fifth-color!important;
    color: $fourth-color!important;
  }
}*/
